/node_modules
dump.rdb
.env
npm-debug.log
.DS_Store
/compiled

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

work
build
pids
logs
results
coverage
lib-cov
html-report
xunit.xml
node_modules
npm-debug.log

.project
.idea
.settings
.iml
*.sublime-workspace
*.sublime-project

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

test/temp
dump.rdb

.env
workspace.xml
